body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    color: #333;
}

.section {
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #444;
}

.section-content {
    display: flex;
    gap: 20px;
}

.personal-info-section .section-content {
    justify-content: space-between;
    align-items: center;
}

.personal-info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.logos {
    display: flex;
    gap: 10px;
}

.logos a {
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.logos a:hover {
    color: #4CAF50;
}

.publication-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.publication-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.publication-details {
    flex-grow: 1;
}

.publication-details h3 {
    margin: 0;
}

.publication-details p {
    margin: 5px 0;
}

.publication-details .links {
    font-size: 14px;
    color: #4CAF50;
}

.publications-section .section-content {
    flex-direction: column;
}
